﻿<nav>
    <a routerLink="/users">Users</a>
</nav>

<h2>Disabled Users</h2>

<table>
    <tr>
        <td>
            <table>
                <tr class="users" *ngFor="let user of users">
                    <td width="200">{{user.username}}</td>
                    <td>
                        <nav><a (click)="restore(user)">Restore</a></nav>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
