﻿<h2>Users</h2>

<table>
    <tr>
        <td>
            <table>
                <tr class="users" *ngFor="let user of users">
                    <td width="200">{{user.username}}</td>
                    <td>
                        <nav><a (click)="displayEdit(user)" [class.selected]="user === selectedUser">Edit</a></nav>
                    </td>
                    <td>
                        <nav><a (click)="gotoCollection(user)">View Collections</a></nav>
                    </td>
                </tr>
            </table>
        </td>
        <td width="100"><div></div></td>
        <td *ngIf="newUser">
            <h2>
                New User
            </h2>
            <div>
                User Name: <input [(ngModel)]="newUser.username" placeholder="name">
            </div>
            <div>
                Password: <input [(ngModel)]="newUser.password" placeholder="password">
            </div>
            <nav>
                <a (click)="create(newUser)">Save</a>
                <a (click)="displayCancel()">Cancel</a>
            </nav>
        </td>
        <td *ngIf="selectedUser">
            <h2>
                Edit User
            </h2>
            <div>
                User Name: <input [(ngModel)]="selectedUser.username" placeholder="name">
            </div>
            <div>
                Password: <input [(ngModel)]="selectedUser.password" placeholder="password">
            </div>
            <nav>
                <a (click)="edit(selectedUser)">Save</a>
                <a (click)="disable(selectedUser)">Disable</a>
                <a (click)="displayCancel()">Cancel</a>
            </nav>
        </td>
    </tr>
</table>
<nav>
    <a (click)="displayNew()">New User</a>
    <a routerLink="/usersDisabled">Disabled Users</a>
</nav>
