﻿
<nav>
    <a routerLink="/users">Users</a>
</nav>
<div *ngIf="selectedUser">
    <h2>
        {{selectedUser.username}}'s Collections
    </h2>
</div>
<table>
    <tr>
        <td>
            <table>
                <tr class="users" *ngFor="let collection of collections">
                    <td width="200">{{collection.name}}</td>
                    <td>
                        <nav><a (click)="displayEdit(collection)">Edit</a></nav>
                    </td>
                    <td>
                        <nav><a (click)="gotoCollectionDetail(collection)">View Collection</a></nav>
                    </td>
                </tr>
            </table>
        </td>
        <td width="100"><div></div></td>
        <td *ngIf="newCollection">
            <table>
                <tr>
                    <td>
                        <h2>
                            New Collection
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        Collection Name:
                    </td>
                    <td>
                        <input [(ngModel)]="newCollection.name" placeholder="name">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <nav>
                            <a (click)="addCategorization(newCollection)">Add Categorization</a>
                        </nav>
                    </td>
                </tr>
                <tr *ngFor="let categorization of newCollection.categorizations; let i = index">
                    <td>
                        <!--Categorization {{i + 1}}:-->
                        Name:
                    </td>
                    <td>
                        <input [(ngModel)]="categorization.name" placeholder="name">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <nav>
                            <a (click)="addTextField(newCollection)">Add TextField</a>
                        </nav>
                    </td>
                </tr>
                <tr *ngFor="let textField of newCollection.textFields; let i = index">
                    <td>
                        <!--TextField {{i + 1}}:-->
                        Name:
                    </td>
                    <td>
                        <input [(ngModel)]="textField.name" placeholder="name">
                    </td>
                </tr>
            </table>
            <nav>
                <a (click)="bulkCreate(newCollection)">Save</a>
                <a (click)="displayCancel()">Cancel</a>
            </nav>
        </td>

        <td *ngIf="editCollection">
            <table>
                <tr>
                    <td>
                        <h2>
                            Edit Collection
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        Collection Name:
                    </td>
                    <td>
                        <input [(ngModel)]="editCollection.name" placeholder="name">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <nav>
                            <a (click)="addCategorization(editCollection)">Add Categorization</a>
                        </nav>
                    </td>
                </tr>
                <tr *ngFor="let categorization of editCollection.categorizations; let i = index">
                    <td>
                        <!--Categorization {{i + 1}}:-->
                        Name:
                    </td>
                    <td>
                        <input [(ngModel)]="categorization.name" placeholder="name">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <nav>
                            <a (click)="addTextField(editCollection)">Add TextField</a>
                        </nav>
                    </td>
                </tr>
                <tr *ngFor="let textField of editCollection.textFields; let i = index">
                    <td>
                        <!--TextField {{i + 1}}:-->
                        Name:
                    </td>
                    <td>
                        <input [(ngModel)]="textField.name" placeholder="name">
                    </td>
                </tr>
            </table>
            <nav>
                <a (click)="bulkEdit(editCollection)">Save</a>
                <a (click)="disable(editCollection)">Disable</a>
                <a (click)="displayCancel()">Cancel</a>
            </nav>
        </td>
    </tr>
</table>
<nav>
    <a (click)="displayNew()">New Collection</a>
    <a (click)="gotoCollectionsDisabled()">Disabled Collections</a>
</nav>
<nav>
    <a routerLink="" (click)="goBack()">Back</a>
</nav>