﻿<nav *ngIf="selectedUser">
    <a routerLink="/users">Users</a> >
    <a routerLink="/collections/{{selectedUser.id}}">{{selectedUser.username}}'s Collections</a>
</nav>
<div *ngIf="selectedUser">
    <h2>
        {{selectedUser.username}}'s Disabled Collections
    </h2>
</div>

<table>
    <tr>
        <td>
            <table>
                <tr class="users" *ngFor="let collection of collections">
                    <td width="200">{{collection.name}}</td>
                    <td>
                        <nav><a (click)="restore(collection)">Restore</a></nav>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<nav>
    <a routerLink="" (click)="goBack()">Back</a>
</nav>
