﻿<div *ngIf="selectedCollection">
    <nav>
        <a routerLink="/users">Users</a> > 
        <a routerLink="/collections/{{selectedCollection.user.id}}">{{selectedCollection.user.username}}'s Collections</a>
    </nav>
</div>
<div *ngIf="selectedCollection">
    <h2>
        {{selectedCollection.user.username}}'s {{selectedCollection.name}} Collection
    </h2>
</div>
<table *ngIf="selectedCollection">
    <tr>
        <td>
            <table>
                <tr class="users" *ngFor="let asset of assets">
                    <td width="200">{{asset.name}}</td>
                    <td>
                        <nav><a (click)="displayEdit(asset)">Edit</a></nav>
                    </td>
                    <td>
                        <nav><a (click)="displayDetail(asset)">View Detail</a></nav>
                    </td>
                </tr>
            </table>
        </td>
        <td width="100"><div></div></td>
        <td *ngIf="newAsset">
            <table>
                <tr>
                    <td>
                        <h2>
                            New Item
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        Item Name:
                    </td>
                    <td>
                        <input [(ngModel)]="newAsset.name" placeholder="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Status:
                    </td>
                    <td>
                        <select [(ngModel)]="newAsset.assetTypeId">
                            <option *ngFor="let assetType of assetTypes" value={{assetType.id}}>
                                {{assetType.name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr *ngFor="let categorizationValue of newAsset.categorizationValues">
                    <td>
                        {{getCategorizationName(categorizationValue.categorizationId)}}:
                    </td>
                    <td>
                        <select [(ngModel)]="categorizationValue.categorizationOptionId">
                            <option *ngFor="let option of categorizations[getCategorizationIndex(categorizationValue.categorizationId)].categorizationOptions" value={{option.id}}>
                                {{option.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <nav><a (click)="addNewCategorizationOption(categorizationValue)">Add New</a></nav>
                    </td>
                    <td>
                        <input [(ngModel)]="categorizationValue.inputValue" placeholder="name">
                    </td>
                </tr>
                <tr *ngFor="let textFieldValue of newAsset.textFieldValues">
                    <td>
                        {{getTextFieldName(textFieldValue.textFieldId)}}:
                    </td>
                    <td>
                        <input [(ngModel)]="textFieldValue.fieldValue" placeholder="name">
                    </td>
                </tr>
            </table>
            <nav>
                <a (click)="bulkCreate(newAsset)">Save</a>
                <a (click)="displayCancel()">Cancel</a>
            </nav>
        </td>
        <td *ngIf="editAsset">
            <table>
                <tr>
                    <td>
                        <h2>
                            Edit Item
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        Item Name:
                    </td>
                    <td>
                        <input [(ngModel)]="editAsset.name" placeholder="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        Status:
                    </td>
                    <td>
                        <select [(ngModel)]="editAsset.assetTypeId">
                            <option *ngFor="let assetType of assetTypes" value={{assetType.id}}>
                                {{assetType.name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr *ngFor="let categorizationValue of editAsset.categorizationValues">
                    <td>
                        {{getCategorizationName(categorizationValue.categorizationId)}}:
                    </td>
                    <td>
                        <select [(ngModel)]="categorizationValue.categorizationOptionId">
                            <option *ngFor="let option of categorizations[getCategorizationIndex(categorizationValue.categorizationId)].categorizationOptions" value={{option.id}}>
                                {{option.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <nav><a (click)="addNewCategorizationOption(categorizationValue)">Add New</a></nav>
                    </td>
                    <td>
                        <input [(ngModel)]="categorizationValue.inputValue" placeholder="name">
                    </td>
                </tr>
                <tr *ngFor="let textFieldValue of editAsset.textFieldValues">
                    <td>
                        {{getTextFieldName(textFieldValue.textFieldId)}}:
                    </td>
                    <td>
                        <input [(ngModel)]="textFieldValue.fieldValue" placeholder="name">
                    </td>
                </tr>
            </table>
            <nav>
                <a (click)="bulkEdit(editAsset)">Save</a>
                <a (click)="disable(editAsset)">Disable</a>
                <a (click)="displayCancel()">Cancel</a>
            </nav>
        </td>
        <td *ngIf="selectedAsset">
            <h2>
                {{selectedAsset.name}}
            </h2>
            <div>
                Status: {{getAssetTypeName(selectedAsset.assetTypeId)}}
            </div>
            <div *ngFor="let categorizationValue of selectedAsset.categorizationValues">
                {{getCategorizationName(categorizationValue.categorizationId)}}:
                {{getCategorizationOptionName(categorizationValue.categorizationId, categorizationValue.categorizationOptionId)}}
            </div>
            <div *ngFor="let textFieldValue of selectedAsset.textFieldValues">
                {{getTextFieldName(textFieldValue.textFieldId)}}: {{textFieldValue.fieldValue}}
            </div>
        </td>
    </tr>
</table>
<nav>
    <a (click)="displayNew()">New Item</a>
    <a (click)="gotoAssetsDisabled()">Disabled Items</a>
</nav>
<nav>
    <a routerLink="" (click)="goBack()">Back</a>
</nav>