﻿<nav *ngIf="selectedCollection">
	<a routerLink="/users">Users</a> >
	<a routerLink="/collections/{{selectedCollection.user.id}}">{{selectedCollection.user.username}}'s Collections</a> >
	<a routerLink="/collectionDetail/{{selectedCollection.id}}">{{selectedCollection.user.username}}'s {{selectedCollection.name}} Collection</a>
</nav>
<div *ngIf="selectedCollection">
	<h2>
		{{selectedCollection.user.username}}'s {{selectedCollection.name}} Collection - Disabled
	</h2>
</div>

<table>
	<tr>
		<td>
			<table>
				<tr class="users" *ngFor="let asset of assets">
					<td width="200">{{asset.name}}</td>
					<td>
						<nav><a (click)="restore(asset)">Restore</a></nav>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<nav>
	<a routerLink="" (click)="goBack()">Back</a>
</nav>
